/* DO NOT CHANGE THIS ROOT CLASS NAME*/

$primary-color: #86b111;
$secandary-color: darken($primary-color, 5%);



#task-6 {
  /* Styles goes here */

  .form {
    &__input {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 5px;
      width: 300px;
      margin-bottom: 20px;

      &:focus {
        outline-color: $primary-color;
      }

      &:hover {
        border-color: $primary-color;
      }
    }
  }

  .complete {
    text-decoration: line-through;
    background-color: red;
  }

  .todos {
    display: flex;
    gap: 16px;
    &-container {
      width: 50%;
    }
    &-item {
      display: flex;
      border-radius: 3px;
      padding: 16px;
      line-height: inherit;
      margin-bottom: 16px;
      &:hover {
        background: #f5f5f5;
      }
      .delete {
        margin-left: auto;
      }
      p {
        margin-bottom: 0;
      }
    }
    &-title {
      font-size: 12px;
      margin: 14px 0;
      font-weight: bold;
      
    }
  }

  .delete {
    width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: red;
    }
  }

  .search {
    display: flex;
    justify-content: start;
    margin-bottom: 7px;
  }
  
}
